.categories {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 2rem 0;
	position: relative;
}

.categories::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	background-color: var(--clr-tomato-500);
}

.categories-list {
	gap: 2rem;
}

.categories-list__btn {
	background-color: transparent;
}

.categories-list__btn.active {
	color: var(--clr-tomato-500);
	font-weight: 500;
}

.categories-list__btn.active::after {
	transform: scaleX(1);
}
